@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");
body {
  background-image: url("https://media.rockstargames.com/rockstargames/img/global/news/upload/pcvinewood_full.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #525252;
}

main {
  font-family: "Archivo", sans-serif;
  background-color: #525252c7;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 70%;
  padding-bottom: 30px;
}
h1 {
  font-size: 55px !important;
  color: #ff04de !important;
  font-weight: 700 !important;
}
p,
.gal_head {
  font-size: 30px !important;
  color: #fafafa;
  font-weight: 600;
}
.gal_head:hover {
  color: #ff04de;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

.header {
  margin: auto;
  margin-top: 150px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}


@media screen and (max-width: 768px) {
  main {
    margin: auto;
    margin-bottom: 60px;
    width: 100%;
    padding-bottom: 30px;
  }
  p,
.gal_head {
  font-size: 20px !important;
  color: #fafafa;
  font-weight: 600;
}
}